.common__section {
    background: linear-gradient(#212245b2, #212245b2), url('../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0;
}