.product__item {
    display: block;
    border: 1px solid #fde4e4;
    display: block;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}

.product__img {
    margin-bottom: 20px;
    transition: 0.4s;
}

.product__img:hover {
    transform: scale(1.2);
}

.product__content h5 a {
    color: #212245;
    margin-bottom: 20px;
    font-size: 1rem;
    text-decoration: none;
}

.product__content h5 {
    margin-bottom: 20px;
    color: #212245
}

.product__price {
    font-weight: 600;
    font-size: 1rem;
    color: #df2020;
}

.addTOCart__btn {
    border: none;
    padding: 7px 15px;
    background: #df2020;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
    .product__content h5 a {
        font-size: 0.8rem;
    }

    .product__item {
        padding: 20px;
    }

    .addTOCart__btn {
        padding: 5px 15px;
        font-size: 0.7rem;
    }
}